#title-bar {
 -webkit-app-region: drag;
 height: 24px; 
 background-color: #007ACC;
 padding: none;
 margin: 0px; 
}

#title {
 position: fixed;
 top: 0px;
 left: 6px; 
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 right: 6px;
}
#title-bar-btns button {	
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}