<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new try1 Login</title>

    <link rel="stylesheet" href="../css/login.css">
</head>

<body>  
    <div class="loginUI">
        <div class="header">
             <h2 class="header-title">Log in</h2>
        </div>
        <div id="LogBody" class="content">
            <p><input class="content-userName" type="text" placeholder="UserName" v-model="userName" ></p>
            <p><input class="content-password" type="password" placeholder="Password" v-model="pwd"></p>
            <p  class="content-horigapClear">
                <input class="content-submit" type="button"  v-on:click="logIn" value="Log in">
                
                <input class="content-exit" type="button" v-on:click="logOut" value="Log out">
            </p>
        </div>
    </div>
    <script src="../../../vue/vue.js"></script>
    <script src="../../htmljs/loginUIVM.js"></script>
</body>

</html>