<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new try1 Login</title>

    <link rel="stylesheet" href="../css/login.css">
</head>

<body>    
    <div class="uiForm">
        <div class="header">
            <p class="title">Log in</p>
        </div>
        <div id="LogBody" class="content">
            <div class="inputTxt">
                <p><input class="userName" type="text" placeholder="UserName" v-model="userName" /></p>
                <p><input class="password" type="text" placeholder="Password" v-model="pwd" /></p>
            </div>
            <div class="inputBtn">
                <input class="submitBtn" type="button" v-on:click="logIn" value="Log in" />
                
                <input class="exitBtn" type="button" v-on:click="logOut" value="Log out" />
            </div>
        </div>
    </div>
    <script src="../../../vue/vue.js"></script>
    <script src="../../htmljs/loginUIVM.js"></script>
</body>

</html>