body{
    background: #ECEFF4;
    font-family: 'Open Sans', sans-serif;
}
.uiForm{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;    
}
.header{     
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;  
    padding: 0px;   
    background: #0099CB;
}
.title{
    position: relative;
    margin: 0px;
    top:50%;
    transform:translateY(-50%);  
    /*left:50%;
    transform:translateX(-50%);*/
    text-align: center;
    text-transform: uppercase;   
    font-size: 1.4em;   
    color: #fff;
}
.content{
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;   
    padding: 10px; 
}
.content p{    
    margin: 0px;
    padding: 0px;
}

.inputTxt{
    padding: 10px;   
}
.inputBtn{
    padding: 10px;   
}
.userName,.password,.submitBtn,.exitBtn{
    box-sizing: border-box;
    padding: 10px;
    border-width: 1px;
    border-style:solid; 
    border-color: #ECEFF4;
    /*outline: 0;*/
    font-family: 'Open Sans', sans-serif;
}
.userName,.password{    
    width: 100%;      
    background: #fff;
    border-color: #bbb;
    color: #555;    
}
.userName:focus,
.password:focus{    
    border-color: #7B9DD4;   
    outline-color: #9BBFF8;
    border-color: #E1BA6E;
    outline-color: #E9C37B;
}
.userName{
    margin-bottom: 5px;
}
.password{
    margin-top: 5px;
}
.inputBtn{
    font-size: 0px;    
    display: table; 
    box-sizing: border-box;     
    width: 100%;
}
.submitBtn,.exitBtn{    
    color: #fff;
    cursor: pointer;
    font-size: 14px;  
    display: table-cell;    
    width: 50%;     
}
.submitBtn{
    background: #089DD3;
}
.exitBtn{
    background: #B4B2B2;
    background: #D3DBE5;
}
.submitBtn:hover,.exitBtn:hover{   
    background: #007ACC;
}
.submitBtn:focus,.exitBtn:focus{
    border-color: #E1BA6E;
    outline-color: #E9C37B;
}
