body{
    background: rgba(0, 0, 0, 0);
}
.loginUI{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.header{
    -webkit-app-region: drag;
    background: #5394C8;
    padding: 10px;
}
.header-title{
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;  
}
.content{
    background: #FAFBFD;  
    padding: 10px;     
}
.content p{
    margin-top: 0;
    margin-bottom: 0;   
}