body{
    background: rgba(0, 0, 0, 0);
}
.uiForm{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;  
}
.header{
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 27px;  
    padding: 0px;   
    background: #FFBE00;
    background: #E06415;
    background: #0099CB;    
    text-align: center;
    
}
#titleBar {
    -webkit-app-region: drag;
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;   
    text-align: center;
    line-height: 27px;
}
#title {
    position: absolute;
    top: 0px;
    left: 6px;
    bottom: 0px; 
    font-family: sans-serif;  
    color:#000;
}
#titleIcon{
    vertical-align: middle;
    width:20px;
    height:20px;
}
#titleBarBtns {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0px;
    right: 6px;
    bottom:4px;   
    cursor: default;
    border-width: 0px;    
}
#minBtn,#maxBtn,#closeBtn{
    float: left; 
    margin: 0px;
    padding: 0px;
    width:35px;
    height: 100%;
    color: #1E1E1E;
    background: transparent;
    font-family: sans-serif;  
    font-size: 20px;  
    font-weight: blod;
    outline:none;
    border-width: 0px;    
    border-style:none;    
}
#minBtn:hover,#maxBtn:hover,#closeBtn:hover{   
    background: #FDFDFD;
}
#minBtn:focus,#maxBtn:focus,#closeBtn:focus{ 
    background: #DEDEE3;
}
.headerSpliter{
    position: absolute;
    top: 27px;
    left: 0px;
    right: 0px;
    height: 1px;  
    padding: 0px;   
    background: #5394C8;
    background: #36A7D1;
    background: #36AAD2;
}
.content{
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 0px;  
}
.nav{
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    bottom: 0px;    
    background:#28435C;   
    background:#CBC4C6;
    background:#36434D;
    overflow-y: auto;  
}
.main{
    position: absolute;
    top: 0px;
    left: 200px;
    right: 0px;
    bottom: 0px;    
    background: #FAFBFD; 
    background: #ECEFF4;
    overflow-y: auto;  
}
.testFunc{
    float: left;
    width: 150px;
    height: 65px;
    background:#E8E8EC;  
    text-align: center;
    line-height: 65px;  
    margin: 5px;
    font-family: sans-serif;
}