body{
    background: rgba(0, 0, 0, 0);
}
.uiForm{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;  
}
.header{
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 28px;  
    background: #FFBE00;
    background: #E06415;
    background: #0099CB;    
    text-align: center;
    
}
.title{  
    text-align: center;  
    line-height: 28px;    
    font-family: sans-serif;
    color:#FFBE00;
}
.sysBtn{    
    -webkit-app-region:no-drag;
    float: right;
    text-align: center;    
    font-family: sans-serif;
    color:black;
    margin: 2px;   
}
.headerSpliter{
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    height: 1px;  
    background: #5394C8;
    background: #D8D8D8;
}
.content{
    position: absolute;
    top: 29px;
    left: 0px;
    right: 0px;
    bottom: 0px;  
}
.nav{
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    bottom: 0px;    
    background:#28435C;   
    background:#CBC4C6;
    background:#36434D;
    overflow-y: auto;  
}
.main{
    position: absolute;
    top: 0px;
    left: 200px;
    right: 0px;
    bottom: 0px;    
    background: #FAFBFD; 
    background: #ECEFF4;
    overflow-y: auto;  
}
.testFunc{
    float: left;
    width: 150px;
    height: 65px;
    background:#E8E8EC;  
    text-align: center;
    line-height: 65px;  
    margin: 5px;
    font-family: sans-serif;
}